.root-container {
  --text-primary-color: #333333;
  --text-secondary-color: #4f4f4f;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  font-size: 1.5rem;
  line-height: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-primary-color);
  
  padding-top: clamp(1.25rem, 5vw, 2.5rem);
  padding-bottom: clamp(1.25rem, 5vw, 2.5rem);
  padding-left: clamp(1.5rem, 5vw, 4.8125rem);
  padding-right: clamp(1.5rem, 5vw, 4.8125rem);
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: clamp(1.5rem, 5vw, 4.8125rem);
  padding-right: clamp(1.5rem, 5vw, 4.8125rem);
  row-gap: 3.75rem;
  column-gap: clamp(1.5rem, 5vw, 7.5rem);
  max-width: 80rem;
  margin: 0 auto;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.right-section {
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
}

.right-section__title {
  color: var(--text-primary-color);
  font-size: clamp(3rem, 5vw, 4rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: clamp(-0.14rem, -5vw, -0.105rem);
}

.right-section__description {
  color: var(--text-secondary-color);
  font-size: clamp(1.125rem, 3vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: clamp(-0.0525rem, -5vw, -0.03938rem);
}

.right-section__button {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03063rem;
  text-transform: uppercase;
  padding: 1.5rem 2.7rem;
  background-color:  var(--text-primary-color);
  width: fit-content;
}
